---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Me";


const identity = {
  firstName: "Kazuya",
  country: "San Diego, California",
  occupation: "Computer Science Student at UC San Diego",
  hobbies: ["Trumpet", "Baseball", "Watching old movies"],
  skills: ["C++", "Go", "Python", "GNC"],
};

---

<BaseLayout pageTitle={pageTitle}>
	<p> Some Information about me: </p>
	<ul>
		<il>My name is {identity.firstName}.</il>
		<li>I live in {identity.country} as a {identity.occupation}.</li>
		<li>
			Some of my skills are:
			<ul>
				{identity.skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>
		</li>
	</ul>
</BaseLayout>
